// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "waybar -c ~/.config/niri/waybar/config.jsonc -s ~/.config/niri/waybar/style.css"
// spawn-at-startup "awww-daemon && awww img .config/niri/wallpaper/redflower.jpg --resize crop"
spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "bash ~/.config/niri/scripts/ganti-auto.sh"
spawn-at-startup "nm-applet"
spawn-at-startup "xwayland-satellite"
spawn-sh-at-startup "mako -c ~/.config/niri/mako/config"
// spawn-sh-at-startup "wl-paste --watch cliphist store"
// spawn-at-startup "nwg-look -a"
// spawn-at-startup "/usr/lib/xdg-desktop-portal-gtk"
