@import url("../warnaumum.css");

/* WINDOW UTAMA */
#window-utama {
    background-color: @background;
    color: @foreground;
}

/* JUDUL POPUP */
#judul {
    font-size: 18px;
    font-weight: bold;
    color: @warna1;
    padding-bottom: 5px;
}

/* HEADER TABEL */
#table-header {
    font-size: 14px;
    font-weight: bold;
    color: @warna1;
    border-bottom: 2px solid @warna1;
    padding: 5px;
}

/* SEL TABEL (CELL STYLING) */
.key-cell {
    font-family: "NeoSpleen Nerd Font", "monospace";
    font-weight: bold;
    color: @foreground;
    padding: 6px 12px;
}

.desc-cell {
    font-size: 13px;
    color: @foreground;
    padding: 6px 12px;
}

/* EFEK BELANG-BELANG (ZEBRA STRIPING) */
/* .row-even {
    background-color: @warna3;
}

.row-odd {
    background-color: transparent;
} */

/* TOMBOL TUTUP */
#tombol {
    /* background-image: none;
    background-color: @warna2; */
    background-image: linear-gradient(175deg, @warna2, @background);
    color: @foreground;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    box-shadow: none;
}

#tombol label {
    color: @foreground;
    /* Memastikan warna teks label di dalam tombol ikut berubah */
}

#tombol:hover {
    /* background-image: none; */
    /* Menghapus gradient hover bawaan tema GTK */
    /* background-color: @warna1; */
    background-image: linear-gradient(175deg, @warna1, @warna2);
    color: @background;
}

#tombol:hover label {
    color: @background;
}