layout {

    focus-ring {
        active-color "#ff0"
        inactive-color "#bb0"
        urgent-color "#ff0"
    }

    border {
        active-color "#ff0"
        inactive-color "#bb0"
        urgent-color "#ff0"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color "#ff0"
        inactive-color "#bb0"
        urgent-color "#ff0"
    }

    insert-hint {
        color "#8c500080"
    }
}

recent-windows {
    highlight {
        active-color "#ff0"
        urgent-color "#bb0"
    }
}

overview {
    backdrop-color "#000"
}
